@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=The+Nautigal:wght@700&display=swap');
*{
box-sizing: border-box;
}


/* body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
} */

.data-link {
  color: red;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 0.02em;
  display: inline-block;
  padding: 8px 20px;
  
}

.cursor {
  pointer-events: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid red;
  margin: -15px 0 0 -15px;
  pointer-events: none;
  transition: all .2s ease-out;
  z-index: 9999;
}
.cursor .cursor-ball {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background: red;
    margin: -2px 0 0 -2px;
    transition: all .4s ease-out;
  }
  
  .cursor .cursor-ball:hover {
    border-radius: 8px;}

    .cursor-ball {
      left: 13px;
    }
  
  






.navbar-brand{
  font-family: 'The Nautigal', cursive;
  
}
.navbar .navbar-brand {
  font-size: 50px;;
}

ul{
    list-style: none;
}

.srch{
    border-radius: 10px;
    display: flex;
    justify-content: center;

}
.search-box ul{
    position: relative;
    background: white;
    /* top: -34px;
    right: 360px; */
    z-index: 1;
    padding: 15px 40px;
    border-radius: 5px;
}
.search-box ul li:hover{
  background: #dc3545;
  color:#fff;
}


.search-box ul li i{
    padding: 0 19px;
    font-size: 30px;
}
.search-box ul li{
    text-align: center;
    padding-top: 10px;
}
.search-box ul{
    border-bottom: 1px solid gray;
}
.aboxsize{
    /* background: goldenrod; */
    text-align: center;
}
.butns p{
    padding: 10px 15px;
    border: 2px solid red;
    color: red;
    border-radius: 5px;

}
.butns{
    
    padding-top: 150px;
}

.tr1{
    background: rgb(204, 204, 204);
}
.tvlimg{
    padding-top: 40px;
}
.tvlimg img{
    border-radius: 50%;
    margin-bottom: 10px;
}
.tvlimg .im1{
    border: 6px solid skyblue;
}
.tvlimg .im2{
    border: 6px solid rgb(255, 102, 0);
}
.tvlimg .im3{
    border: 6px solid rgb(195, 3, 253);
}
.tvlimg .im4{
    border: 6px solid red;
}


.baloonwraper {
    width: 100%;
    height: 100px;
    position: relative;
    animation-name: example;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    z-index: 1;
  }

  @keyframes example {
    0%   { left:0px; top:100px;}
    50%  { left:0px; top:0px;}
    100% { left:0px; top:100px;}
  }
  .hold1 li{
    padding: 0 30px;
    list-style: none;
  }
  .hold1{
    padding-top: 60px;
  }
  .holiday{
    margin-top: -112px;
    padding: 0 100px;
  }
  .holiday form{
    margin-top:-65px;
    padding: 70px 40px 40px;
    background: #fff;
    border-radius: 7px;
    margin-bottom: 100px;
    background-image: url(./images/holidays.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .holiday form label{
    font-weight: 600;
  }

  /*Testimonial*/
 
.gradient-custom { background: radial-gradient(50% 123.47% at 50% 50%, #00FF94 0%, #720059
  100%), linear-gradient(121.28deg, #669600 0%, #FF0000 100%), linear-gradient(360deg,
  #0029FF 0%, #8FFF00 100%), radial-gradient(100% 164.72% at 100% 100%, #6100FF 0%, #00FF57
  100%), radial-gradient(100% 148.07% at 0% 0%, #FFF500 0%, #51D500 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal; }
  .carousel-indicators [data-mdb-target] { border-radius: 50%; width: 10px; height: 10px; }

/*Form*/
.register{
  background: -webkit-linear-gradient(left, #034748, #00c6ff);
  /* margin-top: 3%; */
  padding: 3%;
  border-top: 2px solid #fff;
}
.register-left{
  text-align: center;
  color: #fff;
  margin-top: 4%;
}
.register-left input{
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 60%;
  background: #f8f9fa;
  font-weight: bold;
  color: #383d41;
  margin-top: 30%;
  margin-bottom: 3%;
  cursor: pointer;
}
.register-right{
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.register-left img{
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
.register-left p{
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
}
.register .register-form{
  padding: 10%;
  margin-top: 10%;
}
.btnRegister{
  float: right;
  margin-top: 10%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #0062cc;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}
.register .nav-tabs{
  margin-top: 3%;
  border: none;
  background: #02545b;
  border-radius: 1.5rem;
  width: 28%;
  float: right;
}
.register .nav-tabs .nav-link{
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
  border: none;
}
.register .nav-tabs .nav-link.active{
  width: 100px;
  color: #0062cc;
  border: 2px solid #0062cc;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.register-heading{
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #495057;
}

.text-white{
  border-top: 2px solid #fff;
  background: -webkit-linear-gradient(left, #dc3545, #00b4e5);
}
.text-whit{
  color: #fff;
}
.family{
  background-image: url(./images/andaman.jpg);
  background-size: cover;
}

.family img {
  transition: transform .9s, filter 1.5s ease-in-out;
  filter: grayscale(100%);
}

/* The Transformation */
.family img:hover {
  filter: grayscale(0);
  transform: scale(1.5);
}

.display-4{
  font-weight: 700;
}


.wild{
background-image: url(./images/wildlife.jpg);
background-size: cover;
}
.wild img {
    transition: transform .9s ease-in-out;
  }
.wild img:hover {
    transform: rotate(360deg);
  }

.advan{
  background-image: url(./images/advanture.jpg);
  background-size: cover;
}
.advan img{
  transition: transform .9s;
}
.advan img:hover{
  transform: scale(1.5);
}
.card-body ul li{
  color: #fff;
}
.card-body button{
  color: orangered;
  font-weight: 700;
}
.card-header{
 background:  #d1ecff!important;
}
#navigation{
 
  z-index: 999;
}

@media only screen and (min-width: 768px) and (max-width: 992px)  {
  .navbar .navbar-brand {
    font-size: 39px;;
  }
}

  @media only screen and (max-width: 600px) {
  /* .search-box ul{
    right: 75px;
  } */
  .search-box ul li{
    font-size: 12px;
  }
  .search-box ul li i{
padding: 0 15px;
    font-size: 15px;
  }
  .srch{
    top: 206px;
    left: 0;
  }
  .holiday{
    margin-top: -25px;
    padding: 0 ;
  }
  /* .Support1{
    display: block;
  } */
  .baloonwraper {
    height: 255px;
  }
  }